# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [9]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [10]:
# First convert string of dollars into floats
convert_to_float = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(convert_to_float)

# Filter products that cost more than 10
products = chipo[chipo.item_price > 10]
products.head()

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98

In [12]:
len(products.item_name.unique())

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [15]:
price_item = chipo.filter(items=["item_name", "item_price"])
price_item.head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Step 6. Sort by the name of the item

In [18]:
price_item = price_item.sort_values(by="item_name")
price_item.head()

              item_name  item_price
3389  6 Pack Soft Drink       12.98
1026  6 Pack Soft Drink        6.49
1051  6 Pack Soft Drink        6.49
2232  6 Pack Soft Drink        6.49
2374  6 Pack Soft Drink        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [22]:
chipo.sort_values(by="item_price", ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [25]:
# More direct way of answering the question
int(chipo.sort_values(by="item_price", ascending=False).quantity.head(1))

15

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [35]:
# Filter it so it's only veggie, then sum the quantity column
chipo[chipo["item_name"] == "Veggie Salad Bowl"].quantity.sum()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [41]:
len(chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)])

20